#ft_link a:link {
  color: #999999;
  text-decoration: underline dotted;
}
#ft_link a:hover {
  color: #4fbfa8;
  text-decoration: none;
}
.row-date {
	width: 8%;
}

.elips1 {
    max-width: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.elips2 {
    max-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}